body {
   display: flex;
   align-items: center;
    background-color: gray;
    color: white;
    text-align: center;
}
div a{
    color: white;
    margin: auto;
    padding: auto;
    
}
    

main {
    display: flex;
    align-items:center ;
    justify-content: center;
    max-width: 1200px;
    gap: 200px;
    padding: 100px;
    margin: 100px;
    background-color: black;
    width: 100%;
   }

   .button {
    display: flex;
    background-color: transparent;
    padding: 1rem 2rem;
    display: flex;
    gap: 0.625rem;
    border: none;
    outline: none;
    border-radius: 12px;
    font-size: 0.875rem;
    align-items: center;
    color: white;
   }
  
   /* .button:hover {
    filter: drop-shadow(rgb(255, 243, 233) 5px 5px 5px) invert(20%);
 } */

h1 {
    font-size: 2.5rem;
    color: var(--darker);
    margin-bottom: 1.5625rem;
}
p {
    opacity:70% ;
}

.underline div {
    height: 1px;
    width: 50%;
    background-color: white;  
}
.underline {
 display: flex;
 align-items: center;
 gap: 20px;
}

.name {
    display: flex;
    align-items: center;
    gap: 10px;
}
.form-control {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.socialmediabuttonwrapper {
    display: flex;
    gap: 10px;
}

div .button{
   border-width: 1px;
   border-color: white;
   border-style: solid;
   

}
.righthandside {
   display: flex;
   gap: 25px;
   flex-direction: column;
    

}
input { 
        border: none;
        outline: none;
        background-color: gray;
        border-radius: 6px;
        color: white;
        padding: 10px;
        
}
input::placeholder {
    color: white;
}
.register {
    display: flex;
    width: 100%;
    background-color: white;
    color: black;
    align-items: center;
    justify-content: center;
}
.form {
    align-items: center;
    gap: 25px;
}

.righthandside :first-child {
    display: flex;
    width: 100%;
    background-color: white;
    color: black;
    
}
.firstsection {
    padding: 100px;
    background: rgb(138,1,231);
  background: linear-gradient(90deg, rgba(138,1,231,1) 0%, rgba(89,1,105,1) 100%);
}