body {
    background-color:#0A0B1B;
    color: white;
    display: flex;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
}

.m-0 {
    margin: 0;
}

.p-0 {
    padding: 0;
}

.flex {
    display: flex;
}

main { 
   display: flex;
   align-items: center;
   background-color: #1b1938;
   max-width: 1200px;
   border-radius: 25px;
   overflow: hidden;
}

section {
    border-width:60px ;
    border-style: solid;
    border-color: #1b1938;
}

h1 {
    font-size: 30px;
}

span {
    color: #ab62d7;
}

img {
    width: 50%;
    filter: saturate(1000%);

}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    
}

li {
   font-size: 1rem; 
}

h5{
  font-size: 22px;
}

p {
   font-size: 18px;
   opacity: 0.8;
}

ul p {
    font-size: 1rem;
    margin-top: 8px;
    margin-right: 25px;
}




